#nav
{
    background-color: #221c1e;
    margin-top: -20px;
    padding: 20px;
   
      
    
//   width: 90%;
    font-size:larger;
    font-family: sans-serif;
    font-weight: bolder;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
       
    }
    a
    {
        color: white;
        text-decoration: none;
    }
   
}
// 314454998212-9lr7caasdcnmqu7f3clpo0hide1ojhv2.apps.googleusercontent.com

// o4kOtDc7ZO4rOMx5tHg-Ksmd client id