body{
     background-color:whitesmoke;
    // background-image: url("/images/profile.jpg");
    color: black;
}
a{
    text-decoration: none;
    display: block;

    
}
a:link { text-decoration: none; }